body {
    font-family: monospace;
    background: orange;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    ". . . . ."
    ". alexanders . simons ."
    ". . . . .";
    grid-template-rows: 50px 150px 150px;
}

a {
    text-decoration: none;
    color: white;
    background: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    border-radius: 30px;
}

.alexanders {
    grid-area: alexanders;
}

.simons {
    grid-area: simons;
}