body {
    font-family: monospace;
    background: #FEF3CC;
}

.grid-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "aside-left aside-left main aside-right aside-right"
    "aside-left aside-left main aside-right aside-right"
    "aside-left aside-left main aside-right aside-right"
    "aside-left aside-left . aside-right aside-right";
    grid-template-rows: 110px 130px 160px 120px;
}

.aside-left {
    background: rgba(235, 183, 72, 0.8);
    grid-area: aside-left;
    padding: 0 10px;
    border: 3px solid salmon;
    border-radius: 10px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    ". h1-container2 ."
    "warp1 warp1 warp1"
    "warp2 warp2 warp2"
    "warp3 warp3 warp3"
    "warp4 warp4 warp4";
}

.eggs {
    background: rgba(235, 183, 72, 0.8);
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid salmon;
    border-radius: 10px;
    font-size: 350%;
}

#scorecounter {
    background: rgba(235, 183, 72, 0.8);
    grid-area: scorecounter;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid salmon;
    border-radius: 10px;
    font-size: 350%;
}

.chickens {
    background: rgba(235, 183, 72, 0.8);
    grid-area: aside-right;
    padding: 0 10px;
    border: 3px solid salmon;
    border-radius: 10px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    ". h1-container ."
    "inc inc inc";
    grid-template-rows: 75px 440px;
}

.h1-container {
    grid-area: h1-container;
    display: flex;
    justify-content: center;
}

.h1-container2 {
    grid-area: h1-container2;
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "header"
    "scorecounter"
    "clicker";
    grid-template-rows: 125px 115px 300px;
}

.clicker {
    grid-area: clicker;
    background: none;
    border: none;
    margin: auto;
    padding: auto;
    -webkit-transition-duration: 100ms;
}

.clicker:hover {
    background: rgba(238, 179, 52, 0.8);
    border: 3px solid salmon;
    border-radius: 10px;
}

.clicker:active {
    margin-top: 15px;
}

p {
    font-size: 70%;
}

button {
    grid-area: inc;
    background: rgba(238, 179, 52, 0.8);
    border: 3px solid salmon;
    border-radius: 20px;
    margin: 4%;
    -webkit-transition-duration: 100ms;
    font-family: monospace;
    font-size: 220%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 200%;
}

button:hover {
    background: rgb(241, 167, 54);
}

#warp1 {
    grid-area: warp1;
}

#warp2 {
    grid-area: warp2;
}

#warp3 {
    grid-area: warp3;
}

#warp4 {
    grid-area: warp4;
}